{% extends "layout_configuracion.html" %}
{% block sesion %}
          <!--seccion empresa-->
          <form id="seccion-empresa" class="form-form" action="{{ url_for('entidad.entidad') }}" method="POST" value="empresa">
               <h1 class="form-title">Datos Empresa</h1>
               {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
               <div class="alert-container">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
               </div>
               {% endif %}
               {% endwith %}
               <div class="contenido">
                         {% for field, label, type, placeholder, readonly, valor in [
                              ('nombre_empresa', 'Nombre Empresa', 'text', 'Nombre Empresa', False, current_user.nombre),
                              ('nit', 'Nit', 'number', '', False, current_user.nit),
                              ('correo', 'Email', 'email', '', True, current_user.correo),
                              ('celular_empresa', 'Telefono Empresa', 'number', '', False, current_user.telefono_empresa),
                              ('nombre_representante', 'Contacto Directo', 'text', '', False, current_user.nombre_representante),
                              ('celular_representante', 'Telefono Contacto Directo', 'number', '', False, current_user.telefono_representante),
                              ('logo', 'Logo', 'text', 'Logo Empresa', False, current_user.logo),
                              ('direccion', 'Direccion', 'text', 'Direccion Empresa', False, current_user.direccion)
                         ] %}
                         <div class="form-group">
                              <label for="{{ field }}">{{ label }}</label>
                              <input id="{{ field }}" type="{{ type }}" class="form-input" placeholder="{{ placeholder }}" value="{{ valor }}" name="{{ field }}" {% if readonly %}readonly{% endif %}>
                         </div>
                         {% endfor %}
                         <div class="form-group">
                              <label for="departamento_empresa">Departamento</label>
                              <select class="form-input" id="departamento_empresa" name="departamento_empresa" required>
                              <option value="" selected>seleccione departamento</option>
                              <option value="Amazonas">Amazonas</option>
                              <option value="Antioquia">Antioquia</option>
                              <option value="Arauca">Arauca</option>
                              <option value="Atlántico">Atlántico</option>
                              <option value="Bolívar">Bolívar</option>
                              <option value="Boyacá">Boyacá</option>
                              <option value="Caldas">Caldas</option>
                              <option value="Caquetá">Caquetá</option>
                              <option value="Casanare">Casanare</option>
                              <option value="Cauca">Cauca</option>
                              <option value="Cesar">Cesar</option>
                              <option value="Chocó">Chocó</option>
                              <option value="Córdoba">Córdoba</option>
                              <option value="Cundinamarca">Cundinamarca</option>
                              <option value="Guainía">Guainía</option>
                              <option value="Guaviare">Guaviare</option>
                              <option value="Huila">Huila</option>
                              <option value="La Guajira">La Guajira</option>
                              <option value="Magdalena">Magdalena</option>
                              <option value="Meta">Meta</option>
                              <option value="Nariño">Nariño</option>
                              <option value="Norte de Santander">Norte de Santander</option>
                              <option value="Putumayo">Putumayo</option>
                              <option value="Quindío">Quindío</option>
                              <option value="Risaralda">Risaralda</option>
                              <option value="San Andrés y Providencia">San Andrés y Providencia</option>
                              <option value="Santander">Santander</option>
                              <option value="Sucre">Sucre</option>
                              <option value="Tolima">Tolima</option>
                              <option value="Valle del cauca">Valle del cauca</option>
                              <option value="Vaupés">Vaupés</option>
                              <option value="Vichada">Vichada</option>
                         </select>
                         </div>
                         <div class="form-group">
                              <label for="ciudad_empresa">Ciudad</label>
                              <select class="form-input" id="ciudad_empresa" name="ciudad_empresa" required>
                                   <option disabled selected>Seleccione una ciudad</option>
                              </select>
                         </div>
               </div>
               <button class="form-button" type="submit" name="update_empresa">Guardar Cambios</button>
          </form>
          <script>
            const departamentoUsuario = "{{ current_user.departamento }}";
            const ciudadUsuario = "{{ current_user.ciudad if current_user.ciudad is defined else '' }}";
            const urlGetMunicipios = "{{ url_for('sesion.get_municipios') }}";
          </script>
          <script src="{{ url_for('entidad.static', filename='js/entidad.js') }}"></script>

{% endblock %}