{% extends 'layout_base.html' %}
{% block body %}
<div class="form-page">
  <div class="form-wrapper">
    <div class="form-content">
      <div class="form-header">
        <h1 class="main-title">Gestiona tus Presupuestos</h1>
        <h1 class="main-title-secondary">de Forma Inteligente</h1>
        <p class="main-subtitle">Una plataforma moderna y eficiente para el control total de tus finanzas empresariales</p>
      </div>

      <div class="form-form-container">
        <form class="form-form" method="POST" action="{{ url_for('autenticacion.recuperar_correo') }}">
          <h2 class="form-title">Recuperar Correo</h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert-container">
                {% for message in messages %}
                  <div class="alert">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <div class="form-group">
            <input class="form-input" type="text" name="nit" placeholder="Número de identificación (CC o NIT)" inputmode="numeric" maxlength="10" required>
          </div>
          <button class="form-button" type="submit">Recuperar correo</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
