{% extends 'layout_base.html' %}

{% block body %}

<div class="contenedor">
  <div class="banner-verde">
  <p class="parrafoinicio2">Ahorra tiempo! insumos, herramientas y mano de obra, en un solo click</p>
  <p class="parrafoinicio3">Genera tus presupuestos de obra en unos cuantos minutos.</p>
</div>
<div class="contenedor-grid">
  <div class="cuadro cuadro-materiales">
    <div class="cuadro-contenido">
      <div>
        <h3>Materiales e Insumos</h3>
        <p>Crea y accede a muchos materiales e insumos ya registrados</p>
      </div>
    </div>
  </div>

  <div class="cuadro cuadro-mano-obra">
    <div class="cuadro-contenido">
      <div>
        <h3>Mano de Obra</h3>
        <p>Administra el costo de mano de obra</p>
      </div>
    </div>
  </div>

  <div class="cuadro cuadro-alquileres">
    <div class="cuadro-contenido">
      <div>
        <h3>Alquileres y Equipos</h3>
        <p>Crea nuevos alquileres o accede a los ya registrados</p>
      </div>
    </div>
  </div>

  <div class="cuadro cuadro-analisis">
    <div class="cuadro-contenido">
      <div>
        <h3>Análisis y Costos</h3>
        <p>Genera su presupuesto en PDF listo para entregarlo a su cliente</p>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
