<!-- registro de usuario -->
 <!-- falta implementar registro con redes e incorporar enlace de ya registrado -->
     {% extends 'layout_base.html' %}
     {% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
{% endblock %}
     {% block body%}
<div class="form-page">
  <div class="form-wrapper">
    <div class="form-content">
        <div class="form-header">
        <h1 class="main-title">Gestiona tus Presupuestos</h1>
        <h1 class="main-title-secondary">de Forma Inteligente</h1>
        <p class="main-subtitle">Una plataforma moderna y eficiente para el control total de tus finanzas empresariales</p>
      </div>
      <div class="form-form-container">
        <form id="registro" class="form-form" action="{{ url_for('registro.registro') }}" method="POST">
          <legend class="form-title">Regístrese</legend>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="alert-container">
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <div class="form-group">
            <input id="nombreUsuario" class="form-input" type="text" name="nomCliente" placeholder="Nombre Empresa o Usuario" required>
          </div>
          <div class="form-group">
            <input id="correoUsuario" class="form-input" type="email" name="corrCliente" placeholder="Correo" required>
          </div>
          <div class="form-group">
            <input id="contraseñaUsuario" class="form-input" type="password" name="contrasena" placeholder="Contraseña" required>
          </div>
          <input id="form-registro" class="form-button" type="submit" value="Registrar">
          <p id="error_registro" class="errorFormulario"></p>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/registro.js') }}"></script>
      {% endblock %}

